.DS_store
.venv
*.pgn
*.gz
pgn-extract
trainingdata-tool

*.snm
*.aux
*latexmk
*.nav
*.log
*.fls
*.out
*.toc

data

pgn_splitter/target
cutechess*
Cute_Chess-1.4.0-x86_64.AppImage
stockfish*
Stockfish*
UHO*
ordo
__pycache__